<header id="header" class="site-header">
    <div class="container-fluid container-xl site-header-inner">
        <a href="/" class="site-logo" aria-label="Autonomous Science">
            <img src="/images/autonomous-science.png" alt="Autonomous Science logo">
        </a>
        <nav id="navbar" class="site-nav">
            <ul>
                <li><a href="/roadmap">Roadmap</a></li>
                <li class="dropdown"><a href="#"><span>Resources</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/reports">Reports</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Events</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/workshops">Workshops</a></li>
                        <li><a href="/bofs">Birds of a Feather</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="/about">Vision and Mission</a></li>
                        <li><a href="/steering-council">Steering Council</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="site-cta">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSepojMFMmxssckSiNLs-sARhaWy_rPbvak_Ina_1_ksbGSqEA/viewform?usp=sharing"
                target="_blank" class="btn btn-primary hide-on-mobile">Get involved</a>
        </div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
</header>
